<div id="divContainer">
  <div id="gallery">
    <div class="video-container" id="video1" (click)="deleteFrame(1)">
      <video autoplay loop muted src="../assets/rr.mp4"></video>
    </div>
    <div class="video-container" id="video2" (click)="deleteFrame(2)">
      <video autoplay loop muted src="../assets/rr.mp4"></video>
    </div>
    <div class="video-container" id="video3" (click)="deleteFrame(3)">
      <video autoplay loop muted src="../assets/rr.mp4"></video>
    </div>
    <div class="video-container" id="video4" (click)="deleteFrame(4)">
      <video autoplay loop muted src="../assets/rr.mp4"></video>
    </div>
    <div class="video-container" id="video5" (click)="deleteFrame(5)">
      <video autoplay loop muted src="../assets/rr.mp4"></video>
    </div>
    <div class="video-container" id="video6" (click)="deleteFrame(6)">
      <video autoplay loop muted src="../assets/rr.mp4"></video>
    </div>
    <div class="video-container" id="video7" (click)="deleteFrame(7)">
      <video autoplay loop muted src="../assets/rr.mp4"></video>
    </div>
    <div class="video-container" id="video8" (click)="deleteFrame(8)">
      <video autoplay loop muted src="../assets/rr.mp4"></video>
    </div>
    <div class="video-container" id="video9" (click)="deleteFrame(9)">
      <video autoplay loop muted src="../assets/rr.mp4"></video>
    </div>
    <div class="video-container" id="video10" (click)="deleteFrame(10)">
      <video autoplay loop muted src="../assets/rr.mp4"></video>
    </div>

  </div>
</div>