/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  
    background-color:silver;
  }
  .divsliderRight {
    color: white;
    font: bold 18px Arial, Sans-Serif;
    line-height: 18px;
    height: 40px;
    width:40px;
    background: white;
    position: absolute;
    right: 0;
    bottom: 500px;
    padding: 4px;
    background-image: "../assets/right.png !important";
  }
  

  .divsliderLeft {
    color: white;
    font: bold 18px Arial, Sans-Serif;
    line-height: 18px;
    height: 40px;
    width:40px;
    background: white;
    position: absolute;
    left: 0;
    bottom: 500px;
    padding: 4px;
    background-image: "../assets/left.png !important";
  }

  .container {
    display: flex ;
    justify-content: center;
    flex-wrap: wrap;
    max-width: calc(var(--width) * var(--cols));
  }
  
  .video-container {
    width: var(--width);
    height: var(--height);
    background-color: #3a3a3e;
  }
  
  video {
    height: 100%;
    width: 100%;
  }

  .videoLabel {
    color: white;
    font: bold 18px Arial, Sans-Serif;
    line-height: 18px;
    height: 18px;

    background: rgba(240, 236, 236, 0.55);

    position: absolute;
    left: 0;
    bottom: 0;
    padding: 4px;
}